<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="宠物书" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline"
            ui-sref="tabs.clothes">
        <ion-nav-view name="tab-clothes"></ion-nav-view>
    </ion-tab>
    <ion-tab title="宠物" icon-on="ion-ios-paw" icon-off="ion-ios-paw-outline"
             ui-sref="tabs.books">
        <ion-nav-view name="tab-books"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline"
             badge="total()" badge-style="badge-assertive" ui-sref="tabs.cart">
        <ion-nav-view name="tab-cart"></ion-nav-view>
    </ion-tab>
</ion-tabs>
