<ion-view view-title="萌宠购" id="tour-view">
    <!--ion-content-->
    <ion-slide-box>
        <ion-slide>
            <img src="images/tuto0001.jpg">

        </ion-slide>
        <ion-slide>
            <img src="images/tuto0002.jpg">

        </ion-slide>
        <ion-slide>
            <img src="images/tuto03.jpg">
            <!--<button id="btn" class="button button-outline button-balanced" ui-sref="home">enter</button>-->
            <button id="btn01" class="button button-outline button-balanced" ui-sref="tabs.clothes">开始</button>
        </ion-slide>
    </ion-slide-box>
</ion-view>